body, #container {

    margin: auto;
    width: auto;

}

body {

    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/92/53/7657e3673496a8b.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

#header {

    background-color: darkgrey;
    color: darkblue;
    text-align: center;
    padding: 5px;

}

#Game-Description {

    color: darkslateblue;
    font-weight: bolder;
    background-color: honeydew;

}

#num-counts {

    background-color: darkgrey;
    color: darkslateblue;
    text-align: center;
    font-weight: bold;
    width: 50%;
    padding: 5px;
    float: right;
    
}

#numgen, #total-Score {

    background-color: darkgrey;
    color: darkslateblue;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    width: 30%;
    margin-bottom: 5px;

}

.crystal-image {

    width: 200px;
    height: 200px;

}